@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@500;600&display=swap");

body {
  background: #121319;
  color: #f0f0ee;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.font-display {
  font-family: "Space Grotesk", sans-serif;
}
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
